section.resume-section {
  padding-left: 5rem !important;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-left: 5rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.chart-container {
    position: relative;
    height:60vh;
    width:80vw
}

img {
    z-axis:-1;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.thin {
    font-weight: 200;
}

.xlarge-text {
    font-size: x-large;
}

.small-text {
    font-size: small;
}

.sentence-case {
    text-transform: initial;
}

#title {
    overflow: hidden;
    background-size: contain;
    height: 100vh;
    position:relative;
}

#revealIntroduction, #revealGoals, #revealAchievements, #revealTimelines, #revealTargetingStudents, #revealEntryTerm, #revealDemonstratedInterest, #revealEstPerformance {
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
}
#revealIntroduction.visible, #revealGoals.visible, #revealAchievements.visible, #revealTimelines.visible, #revealTargetingStudents.visible, #revealEntryTerm.visible, #revealDemonstratedInterest.visible, #revealEstPerformance.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
